@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@theme {
  --width-extension-body: 640px;
  --height-button: 28px;
  --radius-medium: 8px;

  /* Slack */
  --text-slack-domain: 15px;
  --text-slack-title: 15px;

  /* Discord */
  --text-discord-site-name: 12px;
  --text-discord-title: 16px;
  --text-discord-description: 14px;

  --color-content-primary: var(--color-zinc-700);
  --color-content-secondary: var(--color-zinc-600);
  --color-divider: var(--color-zinc-200);
  --color-background: var(--color-white);
  --color-background-2: var(--color-zinc-200);
  --color-button-hover: var(--color-zinc-300);

  /* Slack */
  --color-slack-left-edge: rgba(221, 221, 221, 1);
  --color-slack-background: rgba(255, 255, 255, 1);
  --color-slack-domain-text: rgba(29, 28, 29, 1);
  --color-slack-title-text: rgba(18, 100, 163, 1);

  /* Discord */
  --color-discord-subtle-border: #e2e2e4;
  --color-discord-left-edge: #d9d9dc;
  --color-discord-background: #ffffff;
  --color-discord-title-text: #0074e3;
}

html[data-theme="dark"],
div[data-theme="dark"] {
  --color-content-primary: var(--color-zinc-200);
  --color-content-secondary: var(--color-zinc-300);
  --color-divider: var(--color-zinc-700);
  --color-background: var(--color-black);
  --color-background-2: var(--color-zinc-700);
  --color-button-hover: var(--color-zinc-600);

  /* Slack */
  --color-slack-left-edge: rgba(53, 55, 59, 1);
  --color-slack-background: rgba(26, 29, 33, 1);
  --color-slack-domain-text: rgba(209, 210, 211, 1);
  --color-slack-title-text: rgba(29, 155, 209, 1);

  /* Discord */
  --color-discord-subtle-border: #313137;
  --color-discord-left-edge: #3a3a40;
  --color-discord-background: #242429;
  --color-discord-title-text: #4d96ee;
}
